*.o
.*.d
.*.swp
bluetoothserver/Makefile.config
bluetoothserver/btserver
bluetoothserver/zpp2zsp
bluetoothserver/digispark_test
bluetoothserver/conf/btserver.conf
bluetoothserver/conf/lokdef.csv
bluetoothserver/conf/initbtrail.conf
bluetoothserver/sound/
bluetoothserver/tags
bluetoothserver/protocol.h
esp32-server/btcontrol/config.h
control-esp32/btcontrol/config.h
