
soundset=sound/DampfDieselZimoSounds/DA_DI_R_EU_Coll1.zpr
# soundset=sound/oebb1099/oebb1099.zpr
# sound.horn=sound/oebb1099/Hupe_kurz.wav
# sound.abfahrt=sound/oebb1099/ansprache.wav

#lautstärke
cvxy=xy
#anfahrtdings
cvxy=xy

# bei dem Wert fangt der motor in der lok sich an zu drehen
digispark.motorStart=70
