#soundset=sound/EASY-DAMPF/EASYLINE_DAMPF_COL.zpr
#soundset=sound/DampfDieselZimoSounds/DA_DI_R_EU_Coll1.zpr
#soundset=sound/oebb1099/oebb1099.zpr
#sound.name=BR218
#sound.name=BR01-10
#sound.horn=sound/EASY-DAMPF/Pfiffe/Volldampf/Pfiff_BR77_kurz_22_ID(1103).wav
#sound.horn=sound/oebb1099/Hupe_kurz.wav
#sound.abfahrt=sound/oebb1099/ansprache.wav

# volume level
#sound.level=150
# force samplerate
#sound.samplerate=22050

# bei dem Wert fahrt die Lok los
digispark.motorStart=70
#digispark.motorFullSpeed=180
#digispark.motorFullSpeedBoost=200

# wenn RaspiPWM verwendet wird:
wiringpi.pin.18=pwm
# richtungs pin für die brüc
wiringpi.pin.27=dir
# led
wiringpi.pin.4=dir && F0
# richtungs pin für die brücke
wiringpi.pin.22=!dir
# led
wiringpi.pin.17=!dir && F0
#Führerhaus Beleuchtung
#wiringpi.pin.8=!speed
