<?xml version="1.0" standalone='no'?><!--*-nxml-*-->
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<!-- gehört ins /etc/avahi/services kopiert (sonst passt was mit den berechtigungen nicht) -->

<service-group>

  <name replace-wildcards="yes">%h</name>

  <service>
    <type>_btcontroll._tcp</type>
    <port>3030</port>
  </service>

</service-group>
